<div><app-get-customers></app-get-customers></div>

<div class="general-conainer" style=" display: flex; justify-content: center; gap: 1rem;">
    <div class="container" style="display: flex; justify-content: center ;">
        <div class="card" style="width: 25rem; height: 32rem;">
            <div class="card-body">
                <label ><b>First Name:</b></label>
                    <h5 class="card-title">{{customer?.first_name}}</h5>
                    <p class="card-text"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Last Name:</b> {{customer?.last_name}}</li>
                <li class="list-group-item"><b>Email:</b> {{customer?.email}}</li>
                <li class="list-group-item"><b>Address:</b> {{customer?.address?.city}}</li>
                <li class="list-group-item"><b>State:</b> {{customer?.address!.state}}</li>
                <li class="list-group-item">
                    <button type="button" (click)="callCustomer()" class="btn btn-primary">Another Customer</button>
                </li>

            </ul>
        <app-user (sendUser)="reciveUser($event)"></app-user>
        
        </div>
    </div>
    <div class="general-conainer" style="justify-content: center; gap: 1rem;"></div>
    <div class="container" style=" justify-content: center ;">
        <div class="card" style="width: 25rem; height: 32rem;">
            <div class="card-body">
                <app-add-customer ></app-add-customer>
        </div>
    </div>
</div>
</div>





